container{
    padding: 0;
    margin: 0;
}
.logo{
    height: 50px;
    margin-top: 40px;
}
.nav{
    background-color: #505960;
    height: 60px;
    line-height: 60px;
    margin-top: 60px;
}
a{
    color: #fff; 
    font-size: 1.5rem;
    margin-left: 130px;
}
nav a:hover{
    text-decoration: none;  
    color: #fff;
    
}
