h1{
    font-weight: bolder;
    font-size: 3rem;
}


.header_foreground{
    background: url(../image/warner/header_foreground.png) no-repeat center center;
    background-size: cover;
    height: 290px;
}

.header_background{
    background: url(../image/warner/header_background.jpg) no-repeat center center;
    background-size: cover;
    height: 290px;
}

