* { /*reset css*/
    box-sizing: border-box;/* inclus bordure et padding*/
    padding: 0; 
    margin: 0;
}


.entete{
    background-color: #110ac6;
    text-align: center;
    color: antiquewhite;
    font-size: 2rem;
}


.contenu{
    width: 700px;
    font-size: 2rem;
    background-color: aqua;
    margin: 10px auto;
}


.pied{
    background-color: #73843b;
    text-align:center;
    font-size: 3rem;
   /* clear: both; enlever les elements flottants*/
}


