* { /*reset css*/
    box-sizing: border-box;/* inclus bordure et padding*/
    padding: 0; 
    margin: 0;
}

.entete{
    background-color: #110ac6;
    text-align: center;
    color: antiquewhite;
    font-size: 2rem;
}

.dossier{
    background-color: aqua;    
    /*float: left;*/
}


.menux{
    background-color: aqua;
    float: left;
    width: 25%;
}


.menu1, .menu2 {
    color: #ffffff;
    text-align: center;
    padding: 20px;
    font-size: 3rem;
}


.menu1{
    background-color: #cb7093;
    height: 400px;
    
}

.menu2{
    background-color: aqua;

}

.contenu{
    background-color: crimson;
    color: #ffffff;
    text-align: center;
    width: 75%;
    float: left;
    height: 800px;
    font-size: 3rem;
}

.toto{
    width: 250px;
    height: 200px;
    border: 2px solid #ffffff;
    margin: 10px auto;
}

.pied{
    background-color: #73843b;
    text-align:center;
    font-size: 3rem;
   /* clear: both; enlever les elements flottants*/
}

.cls{
    clear: both;
}

