p, h2 {
    color: #00f;
}

h1 {
    color: #f00;
    font-size: 6rem;

}

.rouge {
    color: #f00;
}

.roi{
    font-size: 2rem;
    color: #0f0;
    font-weight: bolder;
    font-style: italic;
}

.menu{
   /* border-style: groove;
    border-color: #ad3f0d;
    border-width: 3px;*/
    
    border: 5px solid #145f7b;
    /*arrondir les angles*/
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    width: 300px;
    
}

.louvre{
    border-radius: 50px;
}

.image{
    border: 3px solid #000;
    background-color: #ed325d;
   /* margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    margin: 50px 50px 50px 50px;*/
    /* margin: 10px 20px 58px; haut droite gauche bas*/
    margin: 40px 60px; /*marge exterieure : haut bas */
    padding: 60px; /*marge interieure 4 cotes */
}

.gaulois{
    text-align: left;
    padding: 0 20px; /*0=haut/bas et 20px droite/gauche*/
    border: 4px solid #000;
    width: 300px;
    /*height: 500px;a eviter ou rarement employer*/
}

.zonex{
    border: 4px solid #000;
    width: 300px;
    height: 300px;
    position: absolute; /*position coin superieur gauche du body*/
    left: 800px;
    top: 300px;
        
}
/* identifiant*/
#neo{
    color: #795a43;
    font-size: 3rem;
    background-color: #cbe395;
}
















