* { /*reset css*/
    box-sizing: border-box;/* inclus bordure et padding*/
    padding: 0; 
    margin: 0;
}



.ligne1{
    background-color: #ed18ed;
    
}


.entete{
    background-color: #110ac6;
    text-align: center;
    color: antiquewhite;
    font-size: 3rem;
    
}


.menu{
    color: darkmagenta;
    background-color: aqua;
    text-align: center;
    width: 25%;
    float: left; /*sort du flux normal*/
    padding: 20px;
    font-size: 3rem;
    height: 600px;
        
}


.contenu{
    background-color: crimson;
    color: chartreuse;
    text-align: center;
    width: 75%;
    float: left;
    padding: 20px;
    font-size: 3rem;
}



.footer{
    background-color: #73843b;
    text-align:center;
    font-size: 3rem;
   /* clear: both; enlever les elements flottants*/
}

.cls{
    clear: both;
}


