.w-100{
    width: 100%;
}

h6{
    font-weight: bold;
    color: #ff0000;  
    padding: 4px;
}

h3{
    font-weight: bold;
    color: #000;
}

.reseau{
    position: fixed;
    right: 5px;
    top: 40vh;
}

.reseau img{
    width: 50px;
    margin: 5px 0;

}

@media screen and (max-width:576px){
    div{
        width: 100%;
    }
    .duree{
        font-size: 1rem;
        color: grey;
    }

    .reseau{
        display: flex;
        position: static;
        justify-content: space-around;
    }

}


